
@{
    ViewBag.Title = "Đặt hàng thất bại";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center mt-5" style="margin-bottom: 80px;">
    <img src="~/assets/images/iconThanhCong.jpg" style="width: 300px; height: 150px;">
    <h2>Đặt hàng thất bại!</h2>
    <a href="~/Home" class="btn btn-primary">Tiếp tục đặt hàng</a>
</div>

