
@{
    ViewBag.Title = "Liên hệ";
}

<div id="page-content" class="single-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="breadcrumb">
                    <li><a href="~/Home">Home</a></li>
                    <li><a href="~/Contact">Liên hệ</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="heading"><h1>CONTACT US</h1></div>
            </div>
            <div class="col-md-6" style="margin-bottom: 30px;">
                <form name="form1" id="ff" method="post" action="contact.php">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Your Name *" name="name" id="name" required data-validation-required-message="Please enter your name.">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Your Email *" name="email" id="email" required data-validation-required-message="Please enter your email address.">
                    </div>
                    <div class="form-group">
                        <input type="tel" class="form-control" placeholder="Your Phone *" name="phone" id="phone" required data-validation-required-message="Please enter your phone number.">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" placeholder="Your Message *" name="message" id="message" required data-validation-required-message="Please enter a message."></textarea>
                    </div>
                    <button type="submit" class="btn btn-1">Send Message</button>
                </form>
            </div>
            <div class="col-md-6">
                <p><span class="glyphicon glyphicon-home"></span> California, United States 3000009</p>
                <p><span class="glyphicon glyphicon-earphone"></span> +6221 888 888 90 , +6221 888 88891</p>
                <p><span class="glyphicon glyphicon-envelope"></span> info@yourdomain.com</p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.750303601135!2d105.81945481540288!3d21.028394993284794!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab6a0457a251%3A0x9c6cc1b0b22a9eeb!2sHanoi%2C%20Vietnam!5e0!3m2!1sen!2sus!4v1633500912302" width="95%" height="230" frameborder="0" style="border:0"></iframe>
            </div>
        </div>
    </div>
</div>

